<!DOCTYPE html>
<html>
    <head>
         <title>Ecommerce Startup</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
         crossorigin="anonymous">
         <link rel="stylesheet" href="/stylesheets/main.css">
         
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">E-Shop</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                <!-- <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item active"><a class="nav-link" href="/">Login</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/">SignUp</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/">Logout</a></li>
                </ul> -->
            </div>
        </div>
</nav>
    
